.form {

height: 500px;
width: 1000px;
border: 1px dashed black;
border-radius: 1px;
background-color: lightgrey;
float: center;
margin-top: 50px;
margin-left:50px;
}



  /*<Switch>
                <Route path="/Login"><Login/></Route>
                <Route path="/LeadDashboard">
                <LeadDashboard />
              </Switch>
              */