.externallinks{
    border:1px solid #000;
}
.lnk{
    border:1px solid #000;
    width: 551px;
    height: 200px;   
    margin-left:122px;

}
.http{
    width: 300px;
    margin-left: 10px;
}
.add{
    width: 100px;
}